<?xml version="1.0"?>
<launch>

	   <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
        <arg name="kinova_robotType" value="j2s7s300" />
        <arg name="use_urdf" value="true" />
				<!--arg name="output" value="screen" /-->
    </include>

		<node name="robot_control2" pkg="tejas" type="robot_control2" args="0.01"/>

		<node name="tf_caster" pkg="tejas" type="tf_caster" output="screen"/>

</launch>
